<a href="https://colab.research.google.com/github/RoshaniMallav/letUpgrade_Python_Essential/blob/master/Day2Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
tpl = ("apple", "banana", "cherry")
print(tpl)
#1. 
print(tpl[-1])
print(tpl[2:5])
#2 convert tuple into list
y = list(tpl)
y[1] = "kiwi"
tpl= tuple(y)

print(tpl)
#3 loop
for x in tpl:
  print(x)
  #4.tiple lenght
  print(len(thistuple))
  #5.join two tuple
  tuple2 = (1, 2, 3)

tuple3 = tpl + tuple2
print(tuple3)

('apple', 'banana', 'cherry')
cherry
('cherry',)
('apple', 'kiwi', 'cherry')
apple
3
kiwi
3
cherry
3
('apple', 'kiwi', 'cherry', 1, 2, 3)